body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(218, 228, 228, 0.63);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: gold;
    height: 80px;
    font-weight: bold;
}